#title {
  font-size: 25px;
  font-family: Corporate Logo Rounded;
  color : red;
  text-align: center;
}

#introduction{
font-size: 20px;
font-style: italic;
color: green;
text-align: center;
}

#main_table

tbody{
  text-align:center;
}

.index_bg{
  background-color: #44CF8A;
}

.main_logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.introduction{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 50px;
  color: white;
  font-family: "メイリオ", sans-serif;
}

.search_window {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
  width: 100%;
  align-items: center;
}
.
/*.parent {
   display: -webkit-flex;
   display: flex;
   flex-wrap: wrap;
}*/
