<!DOCTYPE html>
<html lang="jp" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ひょうたん池</title>
  </head>

  <body>
    <h1>ひょうたん池の場所<h1>
    <p>詳細は<a href="https://comolib.com/places/666183">こちら</a></p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12956.619340539048!2d139.5182935!3d35.7224104!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x39aa9fa2227b01cd!2z6Iqx5bCP6YeR5LqV44Gy44KH44GG44Gf44KT5rGg5YWs5ZyS!5e0!3m2!1sja!2sjp!4v1571161521198!5m2!1sja!2sjp"
      width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="">
    </iframe>

  </body>
</html>
