<!DOCTYPE html>
<html lang="jp" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
    <title>みんなで作るボンビーウォーカー！</title>
  </head>
  <body>
    <div id="title">
        <span>みんなで作るボンビーウォーカー!</span>
    </div>
    <div class="parent">
      <div class="zeroyen_list">
        <ul>
          <li>嘉悦大学図書館</li>
          <li>小金井公園</li>
          <li>花小金井ひょうたん池公園</li>
          <li>いなげや</li>
          <li>花小金井南口</li>
          <li>グリーンロード</li>
          <li>花小金井ふれあい第一公園</li>
        </ul>
      </div>
    </div>
  </body>
</html>
