<!DOCTYPE html>
<html lang="jp" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
    <title>みんなで作るボンビーウォーカー！</title>
  </head>

  <body>
    <div class="parent">
        <div id="title">
          <h1>みんなで作るボンビーウォーカー!</h1>
        </div>

        <div id = "introduction">
          <h1>What's ボンビーウォーカー？？？</h1>
          <p>これは<strong>極貧大学生<strong>向けのアプリです。</p>
          <p>お金を持っている人はもうちょっと待ってね☆</p>
          <a href="search.html">予算入力はこちら</a>
        </div>

        <div id = "main_table">
          <table border="1" align="center">
              <thead>
                <tr>
                  <th>項目</th><th>ジャンル</th><th>金額</th><th>場所</th><th>出来ること</th>
                </tr>
              </thead>

<!--              <form action="/result" method="POST">
                <p>予算を入力してください。<input type="text" name="item" size="30"></p>
                <p><input type="submit" value="検索"></p>
              </form> -->

              <tbody>
               <!-- <tr><td>{{ data[0] }} </td><td>{{ data[1] }}</td><td>{{ data[2] }}</td><td>{{ data[3] }}</td><td>{{ data[4] }}</td></tr>
                <tr><td>2</td><td>休憩</td><td>0</td><td>嘉悦大学</td><td>ラウンジで寝れる</td></tr>
                <tr><td>3</td><td>休憩</td><td>0</td><td>小金井公園</td><td>休めるね</td></tr>
                <tr><td>4</td><td>休憩</td><td>0</td><td>嘉悦大学（北口）</a></td><td>ベンチで座れる</td></tr>
                <tr><td>5</td><td>レジャー</td><td>0</td><td>嘉悦大学</a></td><td>聴講</td></tr>
                <tr><td>6</td><td>レジャー</td><td>0</td><td>花小金井ひょうたん池公園</a></td><td>プール</td></tr>
                <tr><td>7</td><td>レジャー</td><td>0</td><td>小金井公園</a></td><td>アスレチック</td></tr>
                <tr><td>8</td><td>レジャー</td><td>0</td><td><a href="https://www.city.kodaira.tokyo.jp/kurashi/060/060905.html" target=”_blank”>グリーンロード</a></td><td>走れる、花見がみれる</td></tr>
                <tr><td>9</td><td>グルメ</td><td>0</td><td>嘉悦大学</a></td><td>ビワ</td></tr>
                <tr><td>10</td><td>グルメ</td><td>0</td><td>小金井公園</a></td><td>ドングリが食べられる</td></tr>
                <tr><td>11</td><td>グルメ</td><td>0</td><td>小金井公園</a></td><td>水飲み放題</td></tr> -->
                <!-- loop test -->
                {%for row in data%}
                  <tr>
                  {%for value in row %}
                    <td>{{value}}</td>
                  {%endfor%}
                  </tr>
                {%endfor%}

            </tbody>
          </table>
        </div>
    </div>
  </body>
</html>
