<!DOCTYPE html>
<html lang="jp" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>嘉悦大学</title>
  </head>

  <body>
    <h1>嘉悦大学の場所<h1>
      <p>詳細は<a href="http://www.kaetsu.ac.jp/">こちら</a></p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1619.5890724519934!2d139.5123121581613!3d35.721837072628354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018e5efaded3eef%3A0xdfe3f48294286deb!2z5ZiJ5oKm5aSn5a2m!5e0!3m2!1sja!2sjp!4v1571122127686!5m2!1sja!2sjp"
      width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="">
      </iframe>

  </body>
</html>
