<!DOCTYPE html>
<html lang="jp" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
    <title>みんなで作るボンビーウォーカー！ - 予算入力ページ</title>
  </head>

  <body>
    <form action="/post" method="post">
      <p>予算を入力してください</p>
      <p>0円から1000円までの入力に対応しております</p>
      <p><input placeholder="例)500" type="number" name="budget" min="0" max="1000"> </p>
      {% if IsValue%}
       <font color="red">未入力です。値を入力してください。</font><br>
      {% endif %}
      <p><input type=submit value=検索する></p>
    </form>

    <form action="/station" method="post">
      <div>
           <p>ジャンル</p>
          <select id="s_type" name="type">
              <option value="">選択してください</option>
              <option value="休憩">休憩</option>
              <option value="レジャー・スポーツ">レジャー・スポーツ</option>
              <option value="娯楽">娯楽</option>
              <option value="グルメ">グルメ</option>
              <option value="ショッピング">ショッピング</option>
              <option value="パワースポット">パワースポット</option>
              <option value="トイレ">トイレ</option>
              <option value="デートスポット">デートスポット</option>
          </select>
      </div>
      <div class="btn_area">
          <p><input type="submit" name="btn_confirm" value="検索する"></p>
    </form>
  </body>
</html>
