<!DOCTYPE html>
<html lang="jp" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
    <title>みんなで作るボンビーウォーカー！ - 予算入力ページ</title>
  </head>

  <body>
    <form action="/station" method="post">
      <div>
           <p><label for="s_job">ジャンル</label><p>
          <select id="s_job" name="job">
              <option value="">選択してください</option>
              <option value="休憩">休憩</option>
              <option value="レジャー・スポーツ">レジャー・スポーツ</option>
              <option value="娯楽">娯楽</option>
              <option value="グルメ">グルメ</option>
              <option value="ショッピング">ショッピング</option>
              <option value="パワースポット">パワースポット</option>
              <option value="トイレ">トイレ</option>
              <option value="デートスポット">デートスポット</option>
          </select>
      </div>
      <div class="btn_area">
          <input type="submit" name="btn_confirm" value="検索">
      </div>
    </form>
  </body>
</html>
